@model IEnumerable<CNPM.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="text-align:center">
    @using (Html.BeginForm("index", "NhanVien"))
    {
        <b>Search by: </b>@Html.RadioButton("searchBy", "TenNV", true)<text>Tên Nhân Viên</text>
        @Html.RadioButton("searchBy", "DiaChi")<text>DiaChi</text>
        @Html.RadioButton("searchBy", "DienThoai")<text>Điện Thoại</text>


        @Html.TextBox("Search")<input type="submit" value="Search" style="width: auto;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;" />
    }
</div>
<link href="~/Content/bang.css" rel="stylesheet" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdNV  }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdNV }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdNV })
            </td>
        </tr>
    }

</table>
